# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/

# Ignore macOS specific files
.DS_Store

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore other unwanted files
*.swp
*.swo
.idea/
.vscode/
node_modules/